@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pangolin&display=swap');
:root{
    /* colors */
    --primary: crimson;
    --secondary: aqua;
    --background: rgb(25,25,25); 
    /* fonts size */
    --title: 2em;
    --text: 16px
  }
*{
    font-family: 'Pangolin', cursive;
    background-color: var(--background);    
}
.contact__form form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.contact__form{
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
}
.contact__form .enviar{
    max-width: max-content;
    background-color: var(--primary) ;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 25px;
    cursor: pointer;
}
.contact__form label{
    color: white;
}
.contact__form input, .contact__form select, .contact__form option{
    background: white;
    height: 20px;
    border-radius: 5px;
}

.contact__form label span{
    opacity: 0.5;
    font-size: 12px;
    font-weight: 100;
}

.contact__form textarea{
    background: white;
    border-radius: 5px;
    height: 50px;
}
.contact__form input, .contact__form select{
    margin-bottom: 20px;
}
.contact__text{
    color: var(--primary);
}
.contact__text h1{
    font-size: var(--title);
}
.contact__text p{
    font-size: var(--text);
}
#contact{
text-align: center;
}
.redes {
    width: max-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position: sticky;
    right: 0;
    bottom: 0;
    margin-left: auto;
}

.redes img{
    border-radius: 3em;
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.redes img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}



.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .scroll-top-button:hover {
    background-color: #555;
  }
  