@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pangolin&display=swap');
:root{
  /* colors */
  --primary: crimson;
  --secondary: aqua;
  --background: rgb(25,25,25); 
  /* fonts size */
  --title: 2em;
  --text: 16px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
}
body{
  width: 100vw;
  height: 500px;
  background-color: var(--background);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}   
h1{
    color: var(--primary);
    padding: 50px;
   

}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 100px;
    align-items: center;
    gap: 10px;
    box-shadow: crimson 1.95px 1.95px 2.6px; 
}  
input{
    width: 250px;
} 
.sexualidad{
    display: flex;
    width: 300px;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: var(--primary);
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    color: white    ;
}
input{
    font-size: 16px;
}