@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pangolin&display=swap');
:root{
  --primary: crimson;
  --secondary: aqua;
  --background: rgb(25,25,25); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    list-style: none;
    color: white;
}
body{
  width: 100vw;
  height: 100%;
  background-color: var(--background);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* HEADER */
.header{
  height: 65px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--background);
}
.navbar ul{
  display: flex;
  gap: 50px;
}
.navbar a{
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
}
.navbar li:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.navbar a:hover{
  color: white;
}
.navbar ul li:first-child a {
  color: white;
}
.navbar ul li:last-child a {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 2em;
  background-color: var(--background);
  padding: 5px 5px;
}
.header img{
  width: 65px;
  height: 65px;
  margin-right: 250px;
}
/* MAIN */
.background-image{
  background-image: url(assets/AAAA.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;

}
.background-image img{
width: 250px;
height: 250px;
margin-top: 100px;
opacity: 0.8;
}
/* HERO Section */
#hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.hero__info{
    width: 40vw;
    font-weight: 700;
    margin-left: 25px;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 50px;
    border: 4px double white;
}
.hero__info h1{
    font-size: 2em;
    padding: 25px;
    margin: 0 auto;
}
.hero__info p{
    font-size: 16px;
    margin-bottom: 25px
}
.hero__info span{
    color: var(--primary);
}
 .hero__img{
  height: 550px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.8;
 }
.hero__info a:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.hero__info button{
    border: 2px solid white;
  border-radius: 1em;
  background-color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.hero__info a{
  color: var(--background);
}
.hero__info button:hover{
  transform: scale(1.1);
}
/* DRINKS Section */
#drinks{
  padding: 100px 0;
  width: 100vw;
}
.drinks__info, .drinks__text{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#drinks img{
  height: 200px;
  width: 200px;
}
