@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pangolin&display=swap');
:root{
  /* colors */
  --primary: crimson;
  --secondary: aqua;
  --background: rgb(25,25,25); 
  /* fonts size */
  --title: 2em;
  --text: 16px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    color: white;
}
body{
  width: 100vw;
  height: 100%;
  background-color: var(--background);
}

/* HEADER */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  background: var(--background);
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.navbar ul{
  list-style-type: none;
  display: flex;
  gap: 100px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-list{
  align-items: center;
  justify-content: center;
}
.navbar i{
  font-size: 36px;
  display: none;
}
#toggle-menu{
  display: none;
}
.navbar-link{
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.navbar a{
  color: var(--primary);
  font-size: var(--text);
  font-weight: 600;
}
.navbar li:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.navbar a:hover{
  color: white;
}
.navbar ul li:first-child a {
  color: white;
}
.navbar-link img{
  width: 25px;
  height: 25px;
}

.login{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 3em;
}
.login:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

/* .navbar ul li:last-child a {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 2em;
  background-color: var(--background);
  padding: 7px 7px;
} */
.logo{
  width: 65px;
  height: 65px;
}
/* MAIN */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background-image{
  background-image: url(assets/AAAA.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;  
  margin-bottom: 150px;

}
.background-image img{
width: 250px;
height: 250px;
margin-top: 100px;
opacity: 0.8;
}
/* HERO Section */
#hero{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.hero__info{
    width: 40vw;
    font-weight: 700;
    margin-left: 25px;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 50px;
    border: 4px double white;
}
.hero__info h1{
    font-size: var(--title);
    padding: 25px;
    margin: 0 auto;
}
.hero__info p{
    font-size: var(--text);
    margin-bottom: 25px
}
.hero__info span{
    color: var(--primary);
}
 .hero__img{
  height: 550px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.8;
 }
.hero__info a:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.hero__info button{
    border: 2px solid white;
  border-radius: 1em;
  background-color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.hero__info a{
  color: var(--background);
}
.hero__info button:hover{
  transform: scale(1.1);
}
/* DRINKS Section */
#drinks{
  padding: 100px 0;
  width: 100vw;
}
.drinks__info, .drinks__text{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.drinks__info h1{
  font-size: var(--title);
  color: var(--primary);
}
#drinks img{
  height: 200px;
  width: 200px;
  box-shadow:2px 1px 4px 0px var(--secondary);
}
.drinks__img{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
    
}
.drinks__img h3, .drinks__img span{
  font-size: var(--text);
  font-weight: 500;
}
.drinks__cards{
  position: relative;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin: 50px 50px;
  /* background-color: var(--primary); */
  align-items: center;
  display: flex;
  justify-content:center;
}


.tragos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease;
}

.drinks__cards:hover .tragos {
  opacity: 0.2;
}


.contact__form form{
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.contact__form input, .contact__form select, .contact__form option, .contact__form textarea{
  width: 40%;
  margin: 0 auto;
}
.contact__form .enviar{
  max-width: max-content;
  background-color: var(--primary) ;
  border: none;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin: 0 auto;
  cursor: pointer;
}
.contact__form .enviar:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.contact__form label{
  color: white;
}
.contact__form input, .contact__form select, .contact__form option{
  background: white;
  height: 25px;
  border-radius: 5px;
  color: black;

}

.contact__form label span{
  opacity: 0.5;
  font-size: 12px;
  font-weight: 100;
}

.contact__form textarea{
  background: white;
  border-radius: 5px;
  height: 50px;
  color: black;
  margin-bottom: 25px;
}
.contact__form input, .contact__form select{
  margin-bottom: 20px;
}
.contact__text{
  margin-bottom: 50px;
}
.contact__text h1{
  font-size: var(--title);
  color: var(--primary);
}
.contact__text p{
  font-size: var(--text);
}
#contact{
  text-align: center;
}
.redes {
  width: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-left: auto;
}

.redes img{
  border-radius: 3em;
  width: 40px;
  height: 40px;
  margin: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.redes img:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}



.scroll-top-button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100vw;
  margin-top: 50px;
}

.scroll-top-button img{
  width: 25px;
  height: 25px;
}

.scroll-top-button:hover {
  background-color: #555;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center ;
}
footer ul{
  list-style-type: none;
  text-align: start;
}
footer img{
  width: 15px;
  height: 15px;
}
.footer-logo{
  width: 100px;
  height: 100px;
  border-radius: 6em;
}
.footer__contacto img{
  color: var(--secondary);
}
footer a{
  text-decoration: none;
  color: black;
}
footer a:hover{
  text-decoration:underline;
}
.redes-sociales ul{
  display: flex;
}
.redes-sociales img{
  width: 35px;
  height: 35px;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer iframe{
  margin: 15px 10px 0 0;
}
.navegacion a{
  color:white
}

@media(max-width: 576px){
  .navbar ul{
      background: var(--background);
      width: 102%;
      height: calc(100vh - 70px);
      position:absolute;
      top:79px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
      gap: 60px;
  }
  .navbar i{
      display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
      display: flex;
  }


  #hero{
    flex-direction: column;
  }
  .hero__info{
    width: 90%;
  }
  .hero__img{
    width: 400px;
    height: 400px;
    margin-top: 50px;
  }
  .redes{
    display: none;
  }
  .drinks__cards__text{
    margin-left: 50px;
  }
 #contact{
    margin: 0 auto;
    width: 100%;
  }
    .contact__form{
      width: 100%;
    }
  .contact__form form{
    width: 50%;
    margin: 0 auto;
  }
}