@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pangolin&display=swap');
:root{
  /* colors */
  --primary: crimson;
  --secondary: aqua;
  --background: rgb(25,25,25); 
  /* fonts size */
  --title: 2em;
  --text: 16px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
    color: white;
}
body{
  width: 100vw;
  height: 100%;
  background-color: var(--background);
}

/* HEADER */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  background: var(--background);
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.navbar ul{
  list-style-type: none;
  display: flex;
  gap: 100px;
}
.navbar{
  display: flex;
}
.navbar i{
  font-size: 36px;
  display: none;
}
#toggle-menu{
  display: none;
}
.navbar-link{
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.navbar a{
  color: var(--primary);
  font-size: var(--text);
  font-weight: 600;
}
.navbar li:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.navbar a:hover{
  color: white;
}
.navbar ul li:first-child a {
  color: white;
}
.navbar ul li:last-child a {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 2em;
  background-color: var(--background);
  padding: 7px 7px;
}
.header img{
  width: 65px;
  height: 65px;
  margin-right: 250px;
}
/* MAIN */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background-image{
  background-image: url(assets/AAAA.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;

}
.background-image img{
width: 250px;
height: 250px;
margin-top: 100px;
opacity: 0.8;
}
/* HERO Section */
#hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.hero__info{
    width: 40vw;
    font-weight: 700;
    margin-left: 25px;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 50px;
    border: 4px double white;
}
.hero__info h1{
    font-size: var(--title);
    padding: 25px;
    margin: 0 auto;
}
.hero__info p{
    font-size: var(--text);
    margin-bottom: 25px
}
.hero__info span{
    color: var(--primary);
}
 .hero__img{
  height: 550px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.8;
 }
.hero__info a:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.hero__info button{
    border: 2px solid white;
  border-radius: 1em;
  background-color: white;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.hero__info a{
  color: var(--background);
}
.hero__info button:hover{
  transform: scale(1.1);
}
/* DRINKS Section */
#drinks{
  padding: 100px 0;
  width: 100vw;
}
.drinks__info, .drinks__text{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.drinks__info h1{
  font-size: var(--title);
  color: var(--primary);
}
#drinks img{
  height: 200px;
  width: 200px;
  box-shadow:2px 1px 4px 0px var(--secondary);
}
.drinks__img{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
    
}
.drinks__img h3, .drinks__img span{
  font-size: var(--text);
  font-weight: 500;
}
.drinks__cards{
  position: relative;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin: 50px 50px;
  /* background-color: var(--primary); */
  align-items: center;
  display: flex;
  justify-content:center;

}

.tragos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease;
}

.drinks__cards:hover .tragos {
  opacity: 0.2;
}

@media(max-width: 576px){
  .navbar ul{
      background: var(--background);
      width: 102%;
      height: calc(100vh - 70px);
      position:absolute;
      top:79px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
  }
  .navbar i{
      display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
      display: flex;
  }
}